<!-- to override user agent stylesheet -->
 <html>
<body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
<div class="home-container">
    <h2>Welcome to the User Management App</h2>
    <div class="options-div">
        <p>Choose an option: </p>
        <div class="buttons-div">
            <button id="createUserbtn" routerLink="/create-user">Create User</button>
            <button id="showAllbtn">Show All Users</button>
            <button id="showbyIDbtn">Show User By ID</button>
        </div>
    </div>
</div>
</body>
</html>